/* <------------- BEGIN SYSTEM COLOR'S -------------> */
$bgColor: #202020;
$fontColor: #E0E0E0;
$firstColor: #282828;
$secondColor: #363636;
$borderColor: rgba(150, 150, 150, .2);

// Color of icon
$iconColor: $fontColor;

// Shadow color
$shadowColor: rgba(112, 112, 112, .125);
/* <------------- END SYSTEM COLOR'S -------------> */

/* <------------- BEGIN MARKER COLOR'S -------------> */
$redColor: #D31122;
$blueColor: #005073;
$greenColor: #009587;
$indigoColor: #303F9F;
$orangeColor: #FF5722;
$darkBlueColor: #044366;
/* <------------- END MARKER COLOR'S -------------> */