$fontSize: 1em;
$smallFont: .8em;

$margin: 1.3em;
$padding: .6em;
$padding2: .5em;
$padding3: .3em;
$padding4: .8em;
$padding5: .7em;
$padding_base: 1em;

$menu_size: 4em;
$frame_size: 2em;
$border_size: .05em;
$header_size: 2.8em;
$top_menu_size: 16em;
$form_input_size: 100%;
$menu_settings_size: 9em;
$spn_animation_time: 1.2s;

$codeFont: 'Consolas';
$font-path: '../fonts/';
$font: 'Roboto', sans-serif;

$logo_size: 10em;
$shadow_size: $padding3 / 2 $padding3 / 2 $padding3 / 2;